.checkmarkIcon {
  height: 16px;
  width: 15.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.unlimitedMembers {
  width: 229px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.playgroundFeatureList {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xs);
}
.checkmarkIcon1 {
  height: 16px;
  width: 15.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.collaborationProjectTeam {
  width: 229px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.playgroundFeatureList1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xs);
}
.checkmarkIcon2 {
  height: 16px;
  width: 15.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.aiMessagesGpt {
  width: 229px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.playgroundFeatureList2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xs);
}
.checkmarkIcon3 {
  height: 16px;
  width: 15.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.individualSpace {
  width: 229px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.playgroundFeatureList3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xs);
}
.checkmarkIcon4 {
  height: 16px;
  width: 15.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.globalLibrary {
  width: 229px;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.playgroundFeatureList4,
.playgroundFeatures {
  align-self: stretch;
  display: flex;
  gap: var(--gap-xs);
}
.playgroundFeatureList4 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.playgroundFeatures {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--base-1-size);
  color: var(--light-level-1);
  font-family: var(--base-2);
}
